<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>top page</title>
</head>
<style>
	h1 {
		font-size: 18px;
		font-weight: bold;
		color: glay;
	}
	body {
		font-size: 13px;
		color: gray;
		margin: 5px 25px;
	}
</style>
<body>
	<h1>Helo page</h1>
	<table>
		<form method="post" action="/" th:object="${formModel}">
			<tr>
				<td><label for="name">名前</label></td>
				<td><input type="text" name="name" th:value="*{name}" /></td>
			</tr>
			<tr>
				<td><label for="age">年齢</label></td>
				<td><input type="text" name="age" th:value="*{age}" /></td>
			</tr>
			<tr>
				<td><label for="mail">メール</label></td>
				<td><input type="text" name="mail" th:value="*{mail}" /></td>
			</tr>
			<tr>
				<td><label for="memo">メモ</label></td>
				<td><textarea name="memo" th:text="*{memo}" cols="20" rows="5"></textarea></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" /></td>
			</tr>
		</form>
	</table>
	<hr />
	<table>
		<tr><th>ID</th><th>名前</th></tr>
		<tr th:each="obj : ${datalist}"><td th:text="${obj.id}"></td><td th:text="${obj.name}"></td></tr>
	</table>
</body>
</html>